<nav class="navbar navbar-expand-lg bg-dark">
    
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/events-removebg-preview.png" alt="" width="100" height="60" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">X</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="#">Home</a>
                <button (click)="logout()" style="float: right;" class="btn btn-info navbut">LOGOUT</button>
            </div>
            
        </div>
        <button (click)="logout()" style="float: right;" class="btn btn-info ogbut">LOGOUT</button>
    </div>
</nav>
